Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
**/Packaged
**/14SciFi_Chair_Desk
**/50_scifi_vol04
**/__ExternalActors__
**/__ExternalObjects__
**/Ariya3DSciFiPropsVol1
**/ControlRig
/Content/Cosmic_Forge_02
/Content/DoorSciFi_Pack02
/Content/FirstPersonArms
/Content/FPWeapon
/Content/GeometricDecals
/Content/GrimzaFX
/Content/Megascans
/Content/MilitaryWeapDark
/Content/MSPresets
/Content/PanelConstrolsPack
/Content/propsvol03
/Content/SciFi_PropsPack_v2
/Content/SciFiBorderPack
/Content/SciFiCyberUIElements
/Content/SciFiDecalPack
/Content/SCIFIGenerators
/Content/SciFiLightSourceDecalsV01
/Content/SciFiLightSourceDecalsV2
/Content/ScifiMilitaryBags
/Content/SciFiScreenConstructor
/Content/SciFiWorld
/Content/SciFiWorldMedical
/Content/SignDecalPack
/Content/SpaceshipInterior
/Content/SpaceShips
/Content/StarterContent
/Content/StylizeMaterial
